@model IEnumerable<HairAndSoleless.Models.Coach>

@{
    ViewBag.Title = "Coaches";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Team
        </th>
        <th>
            Activities
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CoachId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CoachId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CoachId })
        </td>
        <td id="Name">
			@item.Name
        </td>
        <td id="Email">
			@item.Email
        </td>
        <td id="Team">
			@item.Team
        </td>
        <td>
			@(item.Activities == null ? "None" : item.Activities.Count.ToString())
        </td>
    </tr>
}

</table>


