@model IEnumerable<HairAndSoleless.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Contact
        </th>
        <th>
            Activities
        </th>
    </tr>

@foreach (var item in Model) {
    <tr id="@item.CustomerId">
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerId })
        </td>
        <td id="Name">
			@item.Name
        </td>
        <td id="Contact">
			@item.Contact
        </td>
        <td id="Activities">
			@(item.Activities == null ? "None" : item.Activities.Count.ToString())
        </td>
    </tr>
}

</table>


